<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-controller="getListEachMonThiController">
    <p>

        AAAAAAAAAAAAAAAAAAAAA
    </p>
    <script type="text/javascript" src="<?php echo asset('resources/views/js/jquery-2.1.1.min.js'); ?>  "></script>
    <script type="text/javascript" src="<?php echo asset('resources/views/js/materialize.js'); ?>"></script>
    <script type="text/javascript" src="<?php echo asset('resources/views/js/init.js'); ?>"></script>

</body>
</html>

